/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--Heading-body);
  min-height: 100vh;
}

:root {
  /* COLORS */
  /* ##Primary */

  --Light-red-1: #ff5757;
  --Light-red-2: rgba(255, 87, 87, 0.06);
  --Orangey-yellow-1: #ffb01f;
  --Orangey-yellow-2: rgba(255, 177, 31, 0.06);
  --Green-teal-1: #00bd91;
  --Green-teal-2: rgba(0, 189, 145, 0.06);
  --Cobalt-blue-1: #1125d4;
  --Cobalt-blue-2: rgba(17, 36, 212, 0.06);

  /* ## Gradients */
  /* background */
  --Light-slate-blue: #7857ff;
  --Light-royal-blue: #2e2be9;

  /* circle */
  --Violet-blue: #4e21ca;
  --Persian-blue: #2421ca00;

  /* ### Neutral */

  --White: #ffffff;
  --Pale-blue: #ebf1ff;
  --Light-lavender: #c8c7ff;
  --Dark-gray-blue: #303b5a;
  --Light-gray-blue: #303b5a6e;
  /* --Lighter-gray-blue: #303b5a07; */

  /* TYPOGRAPHY */

  --Heading-XL: 800 calc((56 / 16) * 1rem) / 0.72 "Hanken Grotesk", sans-serif;
  --Heading-L: 700 calc((32 / 16) * 1rem) / 1 "Hanken Grotesk", sans-serif;
  --Heading-M: 700 calc((24 / 16) * 1rem) / 1 "Hanken Grotesk", sans-serif;
  --Heading-body-bold: 700 calc((18 / 16) * 1rem) / 1 "Hanken Grotesk",
    sans-serif;
  --Heading-body: 500 calc((16 / 16) * 1rem) / 1 "Hanken Grotesk", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--White);
}

/******* RESULT ********/

.result-background {
  background-image: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3rem 2.5rem;
}
.result {
  max-width: calc((300 / 16) * 1rem);

  /* color: var(--Pale-blue); */
  color: var(--Light-lavender);
  font: var(--Heading-body);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.result-title {
  font: var(--Heading-body-bold);
}

.circle {
  width: calc((140 / 16) * 1rem);
  height: calc((140 / 16) * 1rem);
  background-image: linear-gradient(
    to bottom,
    var(--Violet-blue),
    var(--Persian-blue)
  );

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.circle span {
  display: inline-block;
  font: var(--Heading-XL);
  color: var(--White);
  padding-bottom: 1rem;
}

.text-title {
  display: block;
  font: var(--Heading-M);
  color: var(--White);
  margin-bottom: 1rem;
}
.result-text p {
  line-height: 1.5;
}

/******* SUMMARY ********/
.summary {
  max-width: calc((450 / 16) * 1rem);
  padding: 2.5rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.summary-title {
  font: var(--Heading-body-bold);
  color: var(--Dark-gray-blue);
  margin-bottom: 1.5rem;
}

.items {
  list-style: none;
  padding: 0;
}
.item {
  font: var(--Heading-body);
  padding: 1rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.red {
  background-color: var(--Light-red-2);
  color: var(--Light-red-1);
}
.orange {
  background-color: var(--Orangey-yellow-2);
  color: var(--Orangey-yellow-1);
}
.green {
  background-color: var(--Green-teal-2);
  color: var(--Green-teal-1);
}
.blue {
  background-color: var(--Cobalt-blue-2);
  color: var(--Cobalt-blue-1);
}
.item-score {
  font: var(--Heading-body-bold);
  margin-left: auto;
  color: var(--Light-gray-blue);
}
.item-score span {
  color: var(--Dark-gray-blue);
}
.item:not(:last-child) {
  margin-bottom: 1rem;
}

.btn:is(:link, :visited) {
  display: block;
  text-decoration: none;
  text-align: center;
  font: var(--Heading-body-bold);
  color: var(--White);
  background-color: var(--Dark-gray-blue);

  padding: 1rem 2rem;
  margin-top: 1.5rem;
  border-radius: 2rem;
  transition: all 1s;
}
.btn:hover {
  background-image: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
}

/* Queries */

@media (min-width: 39rem) {
  :root {
    --Heading-XL: 800 calc((80 / 16) * 1rem) / 0.72 "Hanken Grotesk", sans-serif;
  }
  .container {
    max-width: calc((736 / 16) * 1rem);
    flex-direction: row;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.1);

    margin: 1rem;
  }

  body {
    background-color: var(--Pale-blue);
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result-background {
    flex: 1;
    border-radius: 2rem;
  }
  .result {
    max-width: 100%;
  }
  .circle {
    width: calc((200 / 16) * 1rem);
    height: calc((200 / 16) * 1rem);
  }
  .result-title {
    font: var(--Heading-M);
  }
  .text-title {
    font: var(--Heading-L);
  }
  .summary {
    flex: 1;
    padding: 2.5rem;

    left: 0;
    transform: translateX(0);
  }
  .summary-title {
    font: var(--Heading-M);
  }
}
